In [1]:
import pandas as pd

In [2]:
movies=pd.read_csv(r"C:\Users\user\Downloads\movies\top10K-TMDB-movies.csv")

In [3]:
movies.head(10)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
5,667257,Impossible Things,"Family,Drama",es,"Matilde is a woman who, after the death of her...",14.358,2021-06-17,8.6,255
6,129,Spirited Away,"Animation,Family,Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093
7,730154,Your Eyes Tell,"Romance,Drama",ja,"A tragic accident lead to Kaori's blindness, b...",51.345,2020-10-23,8.5,339
8,372754,Dou kyu sei – Classmates,"Romance,Animation",ja,"Rihito Sajo, an honor student with a perfect s...",14.285,2016-02-20,8.5,239
9,372058,Your Name.,"Romance,Animation,Drama",ja,High schoolers Mitsuha and Taki are complete s...,158.270,2016-08-26,8.5,8895

In [4]:
movies.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [6]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [7]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [8]:
movies=movies[['id', 'title', 'overview', 'genre']]

In [9]:
movies

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance"
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War"
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime"
...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy"
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure"
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War"
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama"
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime"

In [10]:
movies['tags'] = movies['overview']+movies['genre']

In [11]:
movies

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",In the continuing saga of the Corleone crime f...
...,...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War","During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime",Seeking justice for his partner’s murder by an...

In [12]:
new_data  = movies.drop(columns=['overview', 'genre'])

In [13]:
new_data

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
cv=CountVectorizer(max_features=10000, stop_words='english')

In [16]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [17]:
vector=cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [18]:
vector.shape

(10000, 10000)

In [19]:
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
similarity=cosine_similarity(vector)

In [21]:
similarity

array([[1.        , 0.05634362, 0.12888482, ..., 0.07559289, 0.11065667,
        0.06388766],
       [0.05634362, 1.        , 0.07624929, ..., 0.        , 0.03636965,
        0.        ],
       [0.12888482, 0.07624929, 1.        , ..., 0.02273314, 0.06655583,
        0.08645856],
       ...,
       [0.07559289, 0.        , 0.02273314, ..., 1.        , 0.03253   ,
        0.02817181],
       [0.11065667, 0.03636965, 0.06655583, ..., 0.03253   , 1.        ,
        0.0412393 ],
       [0.06388766, 0.        , 0.08645856, ..., 0.02817181, 0.0412393 ,
        1.        ]])

In [22]:
new_data[new_data['title']=="The Godfather"].index[0]

2

In [23]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key=lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather
The Godfather: Part II
Blood Ties
Joker
Bomb City

In [24]:
def recommand(movies):
    index=new_data[new_data['title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].title)

In [25]:
recommand("Iron Man")

Iron Man
Iron Man 3
Guardians of the Galaxy Vol. 2
Avengers: Age of Ultron
Star Wars: Episode III - Revenge of the Sith

In [26]:
import pickle

In [27]:
pickle.dump(new_data, open('movies_list.pkl', 'wb'))

In [28]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [29]:
pickle.load(open('movies_list.pkl', 'rb'))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...

In [30]:
pip install --upgrade streamlit

Requirement already satisfied: streamlit in c:\users\user\anaconda4\lib\site-packages (1.27.2)
Collecting streamlit
  Obtaining dependency information for streamlit from https://files.pythonhosted.org/packages/df/e2/e1c8e3abce0e819a4ef3c6a5af4ddbb1eadbca0cf2ebd5e58853edcd58bd/streamlit-1.28.1-py2.py3-none-any.whl.metadata
  Downloading streamlit-1.28.1-py2.py3-none-any.whl.metadata (8.1 kB)
Requirement already satisfied: altair<6,>=4.0 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (5.1.2)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (1.6.3)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (5.3.1)
Requirement already satisfied: click<9,>=7.0 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (8.0.4)
Requirement already satisfied: importlib-metadata<7,>=1.4 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (6.0.0)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (1.24.3)
Requirement already satisfied: packaging<24,>=16.8 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (23.0)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (1.5.3)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (9.4.0)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (4.24.3)
Requirement already satisfied: pyarrow>=6.0 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (11.0.0)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.27 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (13.6.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (4.5.0)
Requirement already satisfied: tzlocal<6,>=1.1 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (5.2)
Requirement already satisfied: validators<1,>=0.2 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (0.22.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (3.1.40)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (0.8.1b0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (6.3.2)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\user\anaconda4\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: jinja2 in c:\users\user\anaconda4\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\user\anaconda4\lib\site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Requirement already satisfied: toolz in c:\users\user\anaconda4\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\users\user\anaconda4\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\user\anaconda4\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: zipp>=0.5 in c:\users\user\anaconda4\lib\site-packages (from importlib-metadata<7,>=1.4->streamlit) (3.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda4\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda4\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda4\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda4\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda4\lib\site-packages (from requests<3,>=2.27->streamlit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda4\lib\site-packages (from requests<3,>=2.27->streamlit) (2023.7.22)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\user\anaconda4\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\user\anaconda4\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: tzdata in c:\users\user\anaconda4\lib\site-packages (from tzlocal<6,>=1.1->streamlit) (2023.3)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\user\anaconda4\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\user\anaconda4\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\user\anaconda4\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\user\anaconda4\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\user\anaconda4\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Downloading streamlit-1.28.1-py2.py3-none-any.whl (8.4 MB)
   ---------------------------------------- 0.0/8.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/8.4 MB 653.6 kB/s eta 0:00:13
   ---------------------------------------- 0.1/8.4 MB 1.1 MB/s eta 0:00:08
    --------------------------------------- 0.2/8.4 MB 1.1 MB/s eta 0:00:08
   - -------------------------------------- 0.2/8.4 MB 1.3 MB/s eta 0:00:07
   - -------------------------------------- 0.3/8.4 MB 1.2 MB/s eta 0:00:07
   - -------------------------------------- 0.4/8.4 MB 1.2 MB/s eta 0:00:07
   -- ------------------------------------- 0.5/8.4 MB 1.3 MB/s eta 0:00:06
   -- ------------------------------------- 0.5/8.4 MB 1.4 MB/s eta 0:00:06
   -- ------------------------------------- 0.6/8.4 MB 1.3 MB/s eta 0:00:06
   --- ------------------------------------ 0.7/8.4 MB 1.4 MB/s eta 0:00:06
   --- ------------------------------------ 0.8/8.4 MB 1.5 MB/s eta 0:00:06
   --- ------------------------------------ 0.8/8.4 MB 1.5 MB/s eta 0:00:06
   ---- ----------------------------------- 0.9/8.4 MB 1.5 MB/s eta 0:00:06
   ---- ----------------------------------- 1.0/8.4 MB 1.6 MB/s eta 0:00:05
   ----- ---------------------------------- 1.1/8.4 MB 1.6 MB/s eta 0:00:05
   ----- ---------------------------------- 1.1/8.4 MB 1.6 MB/s eta 0:00:05
   ----- ---------------------------------- 1.2/8.4 MB 1.5 MB/s eta 0:00:05
   ----- ---------------------------------- 1.2/8.4 MB 1.5 MB/s eta 0:00:05
   ------ --------------------------------- 1.3/8.4 MB 1.5 MB/s eta 0:00:05
   ------ --------------------------------- 1.4/8.4 MB 1.4 MB/s eta 0:00:05
   ------ --------------------------------- 1.4/8.4 MB 1.4 MB/s eta 0:00:05
   ------- -------------------------------- 1.6/8.4 MB 1.5 MB/s eta 0:00:05
   ------- -------------------------------- 1.7/8.4 MB 1.5 MB/s eta 0:00:05
   -------- ------------------------------- 1.9/8.4 MB 1.6 MB/s eta 0:00:05
   --------- ------------------------------ 2.0/8.4 MB 1.7 MB/s eta 0:00:04
   --------- ------------------------------ 2.1/8.4 MB 1.7 MB/s eta 0:00:04
   ---------- ----------------------------- 2.3/8.4 MB 1.8 MB/s eta 0:00:04
   ----------- ---------------------------- 2.4/8.4 MB 1.8 MB/s eta 0:00:04
   ------------ --------------------------- 2.6/8.4 MB 1.9 MB/s eta 0:00:04
   -------------- ------------------------- 3.0/8.4 MB 2.1 MB/s eta 0:00:03
   ---------------- ----------------------- 3.4/8.4 MB 2.3 MB/s eta 0:00:03
   ------------------ --------------------- 3.8/8.4 MB 2.5 MB/s eta 0:00:02
   -------------------- ------------------- 4.3/8.4 MB 2.7 MB/s eta 0:00:02
   --------------------- ------------------ 4.6/8.4 MB 2.9 MB/s eta 0:00:02
   ------------------------ --------------- 5.1/8.4 MB 3.1 MB/s eta 0:00:02
   -------------------------- ------------- 5.6/8.4 MB 3.3 MB/s eta 0:00:01
   ---------------------------- ----------- 6.0/8.4 MB 3.4 MB/s eta 0:00:01
   ------------------------------ --------- 6.4/8.4 MB 3.6 MB/s eta 0:00:01
   -------------------------------- ------- 6.8/8.4 MB 3.7 MB/s eta 0:00:01
   ---------------------------------- ----- 7.4/8.4 MB 3.9 MB/s eta 0:00:01
   ------------------------------------ --- 7.6/8.4 MB 3.9 MB/s eta 0:00:01
   ------------------------------------- -- 7.9/8.4 MB 4.0 MB/s eta 0:00:01
   -------------------------------------- - 8.2/8.4 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  8.4/8.4 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  8.4/8.4 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------- 8.4/8.4 MB 3.9 MB/s eta 0:00:00
Installing collected packages: streamlit
  Attempting uninstall: streamlit
    Found existing installation: streamlit 1.27.2
    Uninstalling streamlit-1.27.2:
      Successfully uninstalled streamlit-1.27.2
Successfully installed streamlit-1.28.1
Note: you may need to restart the kernel to use updated packages.

In [31]:
import requests
import streamlit as st
import streamlit.components.v1 as components

In [32]:
def fetch_poster(movie_id):
     url = "https://api.themoviedb.org/3/movie/{}?api_key=c7ec19ffdd3279641fb606d19ceb9bb1&language=en-US".format(movie_id)
     data=requests.get(url)
     data=data.json()
     poster_path = data['poster_path']
     full_path = "https://image.tmdb.org/t/p/w500/"+poster_path
     return full_path

In [33]:
movies = pickle.load(open("movies_list.pkl", 'rb'))
similarity = pickle.load(open("similarity.pkl", 'rb'))
movies_list=movies['title'].values

In [34]:
st.header("Movie Recommender System")

2023-11-05 10:16:39.786
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\user\anaconda4\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()

In [35]:
imageCarouselComponent = components.declare_component("image-carousel-component", path="C:/Users/user/Downloads/frontend/frontend/public")

AssertionError:

In [36]:
imageUrls = [
    fetch_poster(1632),
    fetch_poster(299536),
    fetch_poster(17455),
    fetch_poster(2830),
    fetch_poster(429422),
    fetch_poster(9722),
    fetch_poster(13972),
    fetch_poster(240),
    fetch_poster(155),
    fetch_poster(598),
    fetch_poster(914),
    fetch_poster(255709),
    fetch_poster(572154)
   
    ]

In [37]:

imageCarouselComponent(imageUrls=imageUrls, height=200)
selectvalue=st.selectbox("Select movie from dropdown", movies_list)

NameError: name 'imageCarouselComponent' is not defined

In [ ]:
def recommend(movie):
    index=movies[movies['title']==movie].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    recommend_movie=[]
    recommend_poster=[]
    for i in distance[1:6]:
        movies_id=movies.iloc[i[0]].id
        recommend_movie.append(movies.iloc[i[0]].title)
        recommend_poster.append(fetch_poster(movies_id))
    return recommend_movie, recommend_poster

In [ ]:
if st.button("Show Recommend"):
    movie_name, movie_poster = recommend(selectvalue)
    col1,col2,col3,col4,col5=st.columns(5)
    with col1:
        st.text(movie_name[0])
        st.image(movie_poster[0])
    with col2:
        st.text(movie_name[1])
        st.image(movie_poster[1])
    with col3:
        st.text(movie_name[2])
        st.image(movie_poster[2])
    with col4:
        st.text(movie_name[3])
        st.image(movie_poster[3])
    with col5:
        st.text(movie_name[4])
        st.image(movie_poster[4])